.e-card-image {
  height: 160px;
  margin:auto;
  padding: auto;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.e-card {
  width: auto;
  margin: auto;
  justify-content: center;
  display: flex;
  margin-top: 4%;
}

.image-grid {
  padding-left: 3%;
  padding-right: 3%;
  box-shadow:none;
}

.like {
  background-color: white;
  stroke:black;
  color: white;
  font-size: 2rem;
}

.e-card-content {
  display: 'flex';
  align-items: 'center';
}

e-card-title {
  font-size: 10rem;
}

.user_image {
  border-radius: 50%;
  object-fit: fit;
  cursor: pointer;
}

.popup_image {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.close {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: x-large;
  cursor: pointer;
}
